// MAIN SECTION STYLES
// -------------------------------------------------

section.main{
	display: flex;
	align-items: center;
	width:100%;
	background-color: black;
	.container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: lightGrey;
		width: 80%;
		margin: 0 auto;
		.topRow, .bottomRow{
			display: flex;
			justify-content: space-between;
			a{
				text-decoration: none;
				display: flex;
				.choice{
					display: flex;
					flex-direction: column;
					margin-top: 15px;
					img{
							// border: 3px solid $black;
							width: 150px;

					}
					p{
						text-transform: uppercase;
						font-size: 40px;
						color: $black;

					}
				}
			}

		}
	}
}

.selection1  {
	background-color: grey;
}
.selection2 {
	background-color: red;

}
.selection3{
	background-color: green;
}

.selection4  {
	background-color: lightBlue;
}
.selection5 {
	background-color: grey;

}
.selection6{
	background-color: lightGrey;
}
