// COLOR VARIABLES
// ----------------------------------------
$white: #ffffff;
$black: #000000;
$mainFont:'Titillium Web', sans-serif;
$lightGreen:#aae2e1;
$lightBlue:#96d1ff;
$lightPink:#F5E9E9;
$darkPink:#EE9BA5;
$darkBlue:#69a6ce;