// COLOR VARIABLES
// ----------------------------------------
$white: #ffffff;
$black: #000000;
$mainFont:'Titillium Web', sans-serif;
$headerFont:'Luckiest Guy', cursive;	
$lightGreen:#aae2e1;
$lightBlue:#96d1ff;
$lightPink:#efc6c6;
$darkPink:#f77987;
$darkBlue:#69a6ce;
